<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402041910482-ihp6l056l244kd5v6sv89jf208achaom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402041910482-ihp6l056l244kd5v6sv89jf208achaom</string>
	<key>API_KEY</key>
	<string>AIzaSyBE0agzQ00PSiKHtLemKYemD5KFZM7h3Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>402041910482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oybek.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-ad7c6</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-ad7c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402041910482:ios:853228d1393d33e2d3690b</string>
</dict>
</plist>